# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui

dados = [-0.08,-0.27,0.12,-0.03,0.26,0.04,1.02]
tempSemIndex = pd.Series(data=dados)
tempSemIndex

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.04
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:
# seu código aqui
indice = ['1900', '1920', '1940', '1960', '1980', '2000', '2020']
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.04,1.02]
tempComIndex = pd.Series(data=dados, index=indice)
tempComIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.04
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 
                    1920: -.27, 
                    1940: .12, 
                    1960: -.03, 
                    1980: .26, 
                    2000: .40, 
                    2020: 1.02}

# seu código aqui

tempSeries = pd.Series(dic_temperaturas)
tempSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [5]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

df = pd.DataFrame(arr)
df

             0           1           2
0    89.771817  100.889948   96.015228
1    81.077207  124.395854  103.357225
2    92.923319  116.196675  110.721211
3    96.201662   91.900246  118.481544
4    82.321459   94.951162  113.686280
5   111.360737   99.332452  102.216362
6   108.374601  103.397737   89.389783
7    92.484506  107.201746  126.999790
8    96.448901  102.010722   97.926818
9    97.037182   87.490007   96.264374
10  114.998298   97.378337  112.196472
11   94.253210   82.353584  112.659603
12  104.887844   99.600798   87.454344
13  103.658615  110.641349  101.699782
14   95.513008   73.607925   95.670226
15  106.457395   87.851678  104.049389
16  106.678212  111.058857   88.203695
17  102.205815   96.283279  102.846959
18   93.988049   99.712204  102.511546
19   88.714583  107.138557   98.473528

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [6]:
#seu código aqui
df = pd.DataFrame(arr, columns=['x1','x2','x3'])
df.index = np.arange(1,21)
df

            x1          x2          x3
1    89.771817  100.889948   96.015228
2    81.077207  124.395854  103.357225
3    92.923319  116.196675  110.721211
4    96.201662   91.900246  118.481544
5    82.321459   94.951162  113.686280
6   111.360737   99.332452  102.216362
7   108.374601  103.397737   89.389783
8    92.484506  107.201746  126.999790
9    96.448901  102.010722   97.926818
10   97.037182   87.490007   96.264374
11  114.998298   97.378337  112.196472
12   94.253210   82.353584  112.659603
13  104.887844   99.600798   87.454344
14  103.658615  110.641349  101.699782
15   95.513008   73.607925   95.670226
16  106.457395   87.851678  104.049389
17  106.678212  111.058857   88.203695
18  102.205815   96.283279  102.846959
19   93.988049   99.712204  102.511546
20   88.714583  107.138557   98.473528

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [9]:
# seu código aqui
df['Medida'] = df.mean(axis=1)
df

            x1          x2          x3      Medida
1    89.771817  100.889948   96.015228   95.558998
2    81.077207  124.395854  103.357225  102.943429
3    92.923319  116.196675  110.721211  106.613735
4    96.201662   91.900246  118.481544  102.194484
5    82.321459   94.951162  113.686280   96.986301
6   111.360737   99.332452  102.216362  104.303184
7   108.374601  103.397737   89.389783  100.387374
8    92.484506  107.201746  126.999790  108.895347
9    96.448901  102.010722   97.926818   98.795480
10   97.037182   87.490007   96.264374   93.597188
11  114.998298   97.378337  112.196472  108.191035
12   94.253210   82.353584  112.659603   96.422132
13  104.887844   99.600798   87.454344   97.314329
14  103.658615  110.641349  101.699782  105.333249
15   95.513008   73.607925   95.670226   88.263720
16  106.457395   87.851678  104.049389   99.452821
17  106.678212  111.058857   88.203695  101.980255
18  102.205815   96.283279  102.846959  100.445351
19   93.988049   99.712204  102.511546   98.737266
20   88.714583  107.138557   98.473528   98.108890

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [10]:
# seu código aqui
df['log_med'] = np.log(df['Medida'])
df

            x1          x2          x3      Medida   log_med
1    89.771817  100.889948   96.015228   95.558998  4.559744
2    81.077207  124.395854  103.357225  102.943429  4.634180
3    92.923319  116.196675  110.721211  106.613735  4.669212
4    96.201662   91.900246  118.481544  102.194484  4.626878
5    82.321459   94.951162  113.686280   96.986301  4.574570
6   111.360737   99.332452  102.216362  104.303184  4.647302
7   108.374601  103.397737   89.389783  100.387374  4.609036
8    92.484506  107.201746  126.999790  108.895347  4.690387
9    96.448901  102.010722   97.926818   98.795480  4.593052
10   97.037182   87.490007   96.264374   93.597188  4.539000
11  114.998298   97.378337  112.196472  108.191035  4.683899
12   94.253210   82.353584  112.659603   96.422132  4.568736
13  104.887844   99.600798   87.454344   97.314329  4.577946
14  103.658615  110.641349  101.699782  105.333249  4.657129
15   95.513008   73.607925   95.670226   88.263720  4.480329
16  106.457395   87.851678  104.049389   99.452821  4.599683
17  106.678212  111.058857   88.203695  101.980255  4.624779
18  102.205815   96.283279  102.846959  100.445351  4.609614
19   93.988049   99.712204  102.511546   98.737266  4.592462
20   88.714583  107.138557   98.473528   98.108890  4.586078